google_trans_new
httpx
datetime
emoji
nonebot
requests
feedparser
APScheduler
Pillow
pyquery
retrying
lxml
aiohttp
arrow
psutil
aiofiles
typing-extensions
python-qbittorrent
magneturi
ImageHash
pydantic
tenacity
bbcode
