httpx
APScheduler
psutil

nonebot~=1.9.0
arrow
bbcode
emoji
feedparser
deep-translator
aiohttp
ImageHash
magneturi
Pillow
pydantic
pyquery
python-qbittorrent
tenacity
tinydb
typing-extensions
pydantic[dotenv]
yarl